color = "auto"

[data]
  name = "Enrique German"
  email = "enyhma@tuta.com"

[edit]
  command = "nvim"

[diff]
  command = "difft"

[git]
  autoCommit = {{ promptBool "Auto-commit dotfile changes?" }}
  autoPush = {{ promptBool "Auto-push dotfile changes?" }}
