export PATH="$HOME/.local/bin:$PATH"

eval "$(starship init zsh)"
eval "$(~/.local/bin/mise activate bash)"
eval "$(zoxide init zsh)"

alias dots=chezmoi
{{ if eq .chezmoi.os "darwin" -}}
alias typora="open -a typora"
{{ end -}}
